---
import Chart from "../../../components/Chart.svelte";
import List from "../../../components/List.svelte";
import MyLayout from "../../../layouts/Layout.astro";

const response = await fetch("http://localhost:4321/api/survey/get/");
const data = await response.json();

const surveys = data ? data.map((survey: { survey_id: string; survey_name: string; description: string; question_list: any;}) => {
  return {
    id: survey.survey_id,
    name: survey.survey_name,
    description: survey.description,
    questions: survey.question_list.map((question: { question_id: any; name: any; optional: any; type: any; options: any; answers: any; }) => ({ // Process questions
        question_id: question.question_id,
        name: question.name,
        optional: question.optional,
        type: question.type,
        options: question.options,
        answers: question.answers
    })),
  };
}) : [];

const { slug } = Astro.params;

const survey = surveys.find(
    (survey: { id: string | undefined }) => survey.id === slug
);
if (!survey) return Astro.redirect("/404");

const { name, description, questions } = survey;
const title = "Responses: " + name;
const group_link = slug + "?group=";
const group = Astro.request.url.split("?")[1]?.split("=")[1] || "";
---

<MyLayout title={title}>
    <div class="center_element">
        <div>
            <div>
                <h1>🗳️ {name}</h1>
                <p class="description">{description}</p>
            </div>
            <hr class="mx-[-50px]" />
            <p class="text-sm">Selectează grupul de respondenți:</p>
            <div class="flex gap-2">
                <a href={slug}><button class={`age_group ${group === '' ? 'selected_group' : ''}`}>Toți</button></a>
                <a href={group_link + "elev"}><button class={`age_group ${group === 'elev' ? 'selected_group' : ''}`}>Elev</button></a>
                <a href={group_link + "student"}><button class={`age_group ${group === 'student' ? 'selected_group' : ''}`}>Student</button></a>
                <a href={group_link + "angajat"}><button class={`age_group ${group === 'angajat' ? 'selected_group' : ''}`}>Angajat Privat</button></a>
                <a href={group_link + "bugetar"}><button class={`age_group ${group === 'bugetar' ? 'selected_group' : ''}`}>Angajat Stat</button></a>
                <a href={group_link + "pensionar"}><button class={`age_group ${group === 'pensionar' ? 'selected_group' : ''}`}>Pensionar </button></a>
            </div>
            <ul class="pr-[40px] my-7">
                {
                    questions.map(
                        (question: {
                            question_id: string;
                            name: string;
                            type: string;
                            answers: string[];
                        }) => (
                            <li class="question">
                                {question.type === "radio" && (
                                    <div class="flex gap-2">
                                        <h4 class="m-0">
                                            {question.name}
                                        </h4>
                                    </div>
                                    <hr/>
                                    <Chart answers={question.answers} group={group} givenId={question.question_id} client:visible/>
                                )}
                                {question.type === "freeform" && (
                                    <div class="flex gap-2">
                                        <h4 class="m-0">
                                            {question.name}
                                        </h4>
                                    </div>
                                    <hr/>
                                    <List answers={question.answers} group={group}client:visible/>
                                )}
                            </li>
                        )
                    )
                }
            </ul>
        </div>
    </div>
</MyLayout>